
<h3 class="title title-level-1">Contacts <span>(0)</span></h3>
<div class="contact-container flex justify-center items-center">
  <div>
    <!-- <div class="illus-size-2rem">
      <img
        src="./assets/illustrations/emptycontacts_animation_cell4.png"
        alt="Empty contact illustration"
      />
    </div>
    <p class="text text-align-center">Aucun contact</p> -->
    <div class="flex justify-center items-center margin-top-bottom-1rem">
      <a [routerLink]="('/create-contact')" class="button button-radius-10 no-border flex items-center" type="button">
        <span class="material-symbols-outlined margin-right-04rem">
          person
        </span>
        Créer un contact
      </a>
    </div>
  </div>
 
</div>
<div class="contact-list-container">
  <!-- Header -->
  <div class="contact-list-header">
    <div class="header-item">Nom</div>
    <div class="header-item">E-mail</div>
    <div class="header-item">Numéro de téléphone</div>
    <div class="header-item">Actions</div>
  </div>
<!-- contact row iciii===== -->
 <app-contact *ngFor="let contact of contacts" [contact]="contact"></app-contact>

</div>
